<html>
<head>
<style>
	.button {
		  font: bold 11px Arial;
		  text-decoration: none;
		  background-color: #EEEEEE;
		  color: #333333;
		  padding: 2px 6px 2px 6px;
		  border-top: 1px solid #CCCCCC;
		  border-right: 1px solid #333333;
		  border-bottom: 1px solid #333333;
		  border-left: 1px solid #CCCCCC;
	}		
</style>
</head>
<body>
	{% for call in calls %}
	<div>
		<label>Caller: {{ call['caller'] }}   </label>
		<label>Receiver: {{ call['receiver'] }}   </lable>
		<label>Status: {{ call['status']  }}  </label>
		<a class="button" href="/endcall/{{ call['caller'] }}">End Call</a>
		<a class="button" href="/holdcall/{{ call['caller'] }}">Hold/Resume Call</a>
	</div>
	{% endfor %}
</body>

</html>